@model InTurn_Model.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "TS";
}


<div>
    <h2>Employee Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MidtermExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidtermExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to Dashboard", "Index", "EmployerHome", new { area = "Employers" }, new { @class = "btn btn-default" })
</p>
