@using InTurn.HTMLHelpers
@model InTurn_Model.Faculty

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "KB";
}

<h2 align="center">@Model.FullName @ViewBag.Title</h2>

@*PROFILE PHOTO*@
<div class="row">
    <div class="col-md-4">

        @if (!String.IsNullOrEmpty(Model.ImageLocation))
        {
            <img src="@Href(Model.ImageLocation)" class="profilephoto" />
        }
        else
        {
            <img src="~/Images/defaultphoto.png" class="profilephoto" />
        }

    </div>
</div>
<br />@*END PROFILE PHOTO*@

@*PROFILE INFORMATION*@
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>

            <dt>@Html.DisplayNameFor(model => model.PhoneNum)</dt>
            <dd>@Html.DisplayFor(model => model.PhoneNum)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.Email(Model)</dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Location)</dt>
            <dd>@Html.DisplayFor(model => model.Location)</dd>

            <dt>@Html.DisplayNameFor(model => model.FacultyID)</dt>
            <dd>@Html.DisplayFor(model => model.FacultyID)</dd>
        </dl>
    </div>
</div>@*END PROFILE INFORMATION*@

<p>
    @Html.ActionLink("Edit", "Edit", "Profile", new { id = Model.FacultyID }, null)
</p>

@*LINK TO STUDENT INFORMATION TABLE*@
<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>View all students' grades and details.</p>
        <br />
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "Students", new { area = "Teachers" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
