@using InTurn.HTMLHelpers
@model InTurn_Model.Faculty

@{
    ViewBag.Title = Model.FullName + "'s Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "KB";
}

<h2 style="margin: 10px;" align="center">@ViewBag.Title</h2>

<div id="contents">
    @*PROFILE PHOTO*@
    <div id="profilecontainer">
        @if (!String.IsNullOrEmpty(Model.ImageLocation))
        {
            <img src="@Href(Model.ImageLocation)" class="profilephoto" />
        }
        else
        {
            <img src="~/Images/defaultphoto.png" class="profilephoto" />
        }@*END PROFILE PHOTO*@

        @*PROFILE INFORMATION*@
        <div id="profileinfo">
            <div class="col-lg-10">
                <dl class="media-middle">
                    <dt>@Html.DisplayNameFor(model => model.FacultyID):</dt>
                    <dd>@Html.DisplayFor(model => model.FacultyID)</dd>

                    <dt>@Html.DisplayNameFor(model => model.FullName):</dt>
                    <dd>@Html.DisplayFor(model => model.FullName)</dd>

                    <dt>@Html.DisplayNameFor(model => model.PhoneNum):</dt>
                    <dd>@Html.DisplayFor(model => model.PhoneNum)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Email):</dt>
                    <dd>@Html.Email(Model)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Location):</dt>
                    <dd>@Html.DisplayFor(model => model.Location)</dd>
                </dl>@*END PROFILE INFORMATION*@
                <center>
                    @Html.ActionLink("Edit Profile", "Edit", "Profile", new { id = Model.FacultyID }, new {@class="btn btn-default"})
                </center>
            </div>
        </div>
    </div>@*END PROFILE SIDE AREA*@


    @*LINK TO STUDENT INFORMATION TABLE*@
    <div id="dashinfo">
        <div id="dashsection">
            <h3>Students</h3>
            <p>View all students' grades and details.</p>
            <p>@Html.ActionLink(HttpUtility.HtmlDecode("View"), "Index", "Students", new { area = "Teachers" }, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>