@model IEnumerable<InTurn_Model.Faculty>
@{
    ViewBag.Title = "Faculty Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>


@*  FILTER DROP DOWN LIST
        <label class="filter">Search By Course ID</label>
               @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "filter", @onchange = "FillByTag()" })
           </p>

           <div id="resultsContainer">
               @Html.Partial("_Results", Model)
           </div>*@

    @*FILTER SEARCH BOX BY COURSE NAME*@
<label class="filter">Search by Course Name</label>
@Html.TextArea("Search", null, htmlAttributes: new { @class = "filter", @onchange = "FilterByCourseName()", @rows = "1" })

@section Scripts
{
    <script type="text/javascript">

         //FILLBYTAG, FILTER DROP DOWN LIST FUNCTION
               @*function FillByTag()
               {
                   var course = $('#CourseID').val();
                   var container = $('#resultsContainer');
                   container.load('@Url.Action("_IndexByTag")?id=' + course);
               }*@

        //FILTERBYCOURSENAME, SEARCH BOX FUNCTION
            function FilterByCourseName()
            {
                var search = $('#Search').val();
                var container = $('#coursesContainer');
                container.load('@Url.Action("_IndexByCourseName")?search=' + search);
            }

    </script>
} @*END SCRIPTS*@