@model IEnumerable<InTurn_Model.Employee>

<table class="table table-striped" id="studentTable">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>*@
        <th onclick="sortTable(3)">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th onclick="sortTable(4)">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th onclick="sortTable(5)">
            @Html.DisplayNameFor(model => model.JobPosting.Position)
        </th>
        <th onclick="sortTable(1)">
            @Html.DisplayNameFor(model => model.MidtermExam)
            @*@Html.Raw(HttpUtility.HtmlDecode("Midterm Grade &#129057;&#129059;"))*@
        </th>
        <th onclick="sortTable(0)">
            @Html.Raw(HttpUtility.HtmlDecode("Final Grade &#129057;&#129059;"))
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPosting.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MidtermExam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalExam)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Students", new { area = "Students", id = item.StudentID }, new { @class = "btn btn-info btn-xs" })
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("Back to Dashboard", "Index", "TeacherHome", new { area = "Teachers" }, new { @class = "btn btn-default" })</p>