@using InTurn.HTMLHelpers
@model InTurn_Model.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Employers/Views/Shared/_Employers.cshtml";
    ViewBag.Developer = "TS";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Student.Email)</dt>

        <dd>@Html.DisplayFor(model => model.Student.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Student.PhoneNum)</dt>

        <dd>@Html.DisplayFor(model => model.Student.PhoneNum)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.Position)
        </dd>

        @*@Html.ActionLink("Download", "Download", "announcement", new { file = Model.Resume })*@

    </dl>
</div>
<div>
    <p>
        @Html.ActionLink("Review", "Edit", new { id = Model.ApplicationID }, new {@class="btn btn-default"}) |
        @Html.ActionLink("Hire", "Onboard", new { id = Model.ApplicationID }, new { @class = "btn btn-default" })
</div>
@Html.ActionLink("Return Home", "Index","EmployerHome")
</p>
