@using InTurn.HTMLHelpers
@model InTurn_Model.Application

@{
    ViewBag.Title = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "TS";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Student.Email)</dt>

        <dd>@Html.DisplayFor(model => model.Student.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.Student.PhoneNum)</dt>

        <dd>@Html.DisplayFor(model => model.Student.PhoneNum)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosting.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosting.Position)
        </dd>



       

    </dl>
</div>
<div>
    <p>
        @Html.ActionLink("Review", "Edit", new { id = Model.ApplicationID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Hire", "Onboard", new { id = Model.ApplicationID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to Dashboard", "Index", "EmployerHome", new { area = "Employers" }, new { @class = "btn btn-default" })
    </p>

</div>