@model InTurn_Model.Application

@{
    ViewBag.Title = "Onboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Onboard</h2>



    @Html.AntiForgeryToken()
    <input id="StudentID" type="hidden" value="@Model.StudentID" />
    <input id="JobPostingID" type="hidden" value="@Model.JobPostingID" />
    <input id="EmployerID" type="hidden" value="@Model.JobPosting.EmployerID" />

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>@Model.Student.FullName</span>
            </div>
        </div>

     

        <div class="form-group">
            @Html.LabelFor(model => model.JobPostingID, "JobPostingID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span> @Model.JobPosting.Position</span>
            </div>
        </div>


        @Html.ActionLink("Hire", "NewHire", new { id = Model.ApplicationID }, new { @class = "btn btn-default" })

        
    </div>


<div>
    @Html.ActionLink("Back to Dashboard","Index","EmployerHome")
</div>
