@model InTurn_Model.Student

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "TS";
}

<h2>@Model.FullName  @ViewBag.Title</h2>

@if (!String.IsNullOrEmpty(Model.ImageLocation))
{
    <img src="@Href(Model.ImageLocation)" style="width:200px; height:180px; border:solid;" />
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.PhoneNum)
    </dt>
    <dd>@Html.DisplayFor(model=>model.PhoneNum)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>@Html.DisplayFor(model=>model.Address)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd>@Html.DisplayFor(mode=>Model.City)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.State)
    </dt>
    <dd>@Html.DisplayFor(model=>model.State)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.ZipCode)
    </dt>
    <dd>@Html.DisplayFor(model=>model.ZipCode)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>@Html.DisplayFor(model=>model.Email)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.Current)
    </dt>
    <dd>@Html.DisplayFor(model=>model.Current)</dd>
    <dt>
        @Html.DisplayNameFor(model => model.Graduate)
    </dt>
    <dd>@Html.DisplayFor(model=>model.Graduate)</dd>
</dl>

@Html.ActionLink("Edit", "Edit","Students", new { id = Model.StudentID },null)

@*<div class="row">
        <div class="col-md-4">
            <h2>Profile</h2>

            <p>View and edit your Profile.</p>

            <p>@Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "Profile", new { area = "Students" }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Job Postings</h2>

            <p>View job postings.</p>

            <p>@Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "JobPostings", new { area = "Students" }, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>My Applications</h2>

            <p>View applications you've submitted.</p>

            <p> @Html.ActionLink(HttpUtility.HtmlDecode("&laquo; Go &raquo;"), "Index", "Applications", new { area = "Students" }, new { @class = "btn btn-default" })</p>
        </div>
    </div>*@