@model InTurn_Model.JobPosting

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Employers/Views/Shared/_Employers.cshtml";
    ViewBag.Developer = "TS";
}

<h2>@Model.Position Applicants</h2>

<div>




    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>


    </dl>
</div>

<h2>Submitted</h2>
<div id="employeeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.JobPostingID == Model.JobPostingID)
        {
            if (item.AppStatus == InTurn_Model.AppStatus.Submitted)

            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.LastName)
                    </td>
                    <td>@Html.DisplayFor(model => item.AppStatus)</td>
                    <td>@Html.ActionLink("See Application", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-default" }) </td>

                </tr>
            }
        }

    }
</table>
<br />
<h2>Under Review</h2>
<div id="employeeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.JobPostingID == Model.JobPostingID)
        {
            if (item.AppStatus == InTurn_Model.AppStatus.Reviewing)

            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.LastName)
                    </td>
                    <td>@Html.DisplayFor(model => item.AppStatus)</td>
                    <td>@Html.ActionLink("See Application", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-default" }) </td>

                </tr>
            }
        }

    }
</table>
<br />
<h2>Selected to Interview</h2>
<div id="employeeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.JobPostingID == Model.JobPostingID)
        {
            if (item.AppStatus == InTurn_Model.AppStatus.Interview)

            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.LastName)
                    </td>
                    <td>@Html.DisplayFor(model => item.AppStatus)</td>
                    <td>@Html.ActionLink("See Application", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-default" }) </td>

                </tr>
            }
        }

    }
</table>
<br />
<h2>Ready to Hire</h2>
<div id="employeeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.JobPostingID == Model.JobPostingID)
        {
            if (item.AppStatus == InTurn_Model.AppStatus.Onboard)

            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.LastName)
                    </td>
                    <td>@Html.DisplayFor(model => item.AppStatus)</td>
                    <td>@Html.ActionLink("See Application", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-default" }) </td>

                </tr>
            }
        }

    }
</table>
<br />
<h2>Declined</h2>
<div id="employeeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.JobPostingID == Model.JobPostingID)
        {
            if (item.AppStatus == InTurn_Model.AppStatus.Declined)

            {
                <tr>

                    <td>
                        @Html.DisplayFor(model => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.LastName)
                    </td>
                    <td>@Html.DisplayFor(model => item.AppStatus)</td>
                    <td>@Html.ActionLink("See Application", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-default" }) </td>

                </tr>
            }
        }

    }
</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobPostingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
