@model InTurn_Model.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>My Applications</h2>
<div id="applicationeContainer"></div>
<table class="table table-striped">

    <tr>
        <th>Position</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applications)
    {
        if (item.StudentID == Model.StudentID)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => item.JobPosting.Position)
                </td>
                <td>
                    @Html.DisplayFor(model => item.AppStatus)
                </td>
                <td>@Html.ActionLink("Details", "Details", "JobPostings", new { id = item.StudentID }, null) </td>

            </tr>
        }
    }
</table>
