@model IEnumerable<InTurn_Model.JobPosting>

@{
    ViewBag.Title = "Job Postings";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
    ViewBag.Developer = "LC";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            
            <td>
            </td>
            <td>
                @Html.ActionLink("Apply", "Apply", new { id = item.JobPostingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobPostingID })

            </td>
        </tr>
    }

</table>
