@model IEnumerable<InTurn_Model.JobPosting>

@{
    ViewBag.Title = "Open Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "LC";
}

<h2>@ViewBag.Title</h2>


<table class="table" id="jobPostingTable">
    <tr>
        <th onclick="sortTable(0)">
            @Html.Raw(HttpUtility.HtmlDecode("Employer &#129057;&#129059;"))
            @*@Html.DisplayNameFor(model => model.Employer.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th onclick="sortTable(1)">
            @Html.Raw(HttpUtility.HtmlDecode("Job Type &#129057;&#129059;"))
            @*@Html.DisplayNameFor(model => model.JobType)*@
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>

            <td>
            </td>
            <td>
                @Html.ActionLink("Apply", "Apply", new { id = item.JobPostingID }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobPostingID })

            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Back to Dashboard", "Index", "StudentHome", new { area = "Students" }, new { @class = "btn btn-default" } )</p>

@*START SCRIPTS*@
@section Scripts
{
    <script type="text/javascript">

        //SORT TABLE UPON HEADER CLICK
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("jobPostingTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("td")[n];
                    y = rows[i + 1].getElementsByTagName("td")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }//END for
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                }
                else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }//END if else
            }//END while
        }//END SORT TABLE UPON HEADER CLICK

    </script>
}@*END SCRIPTS*@
