@model IEnumerable<InTurn_Model.Student>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Students/Views/Shared/_Students.cshtml";
    ViewBag.Developer = "LC";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-mid-4">
        <center>
            <h3>Your Profile</h3>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-mid-4">
        <center>

            @*<img src="~/Areas/images/shared366.jpg" />*@
            @foreach (var item in Model)
            {
                if (!String.IsNullOrEmpty(item.ImageLocation))
                {
                    <img src="@Href(item.ImageLocation)"
                         style="width: 150px;" />
                }
            }

        </center>
    </div>
    <div class="col-mid-4">
        <center>
            <h4>Full Name</h4>
            <h5>
                @Html.DisplayNameFor(item => item.FirstName) @Html.DisplayNameFor(item => item.LastName)
            </h5>

            <h4>Student ID</h4>
            @*<h4>@Html.DisplayNameFor(item => item.StudentID</h4>*@
            
            <h4>Phone Number</h4>
            <h5>@Html.DisplayNameFor(item => item.PhoneNum)</h5>
           
            <h4>Address</h4>
            <h5>@Html.DisplayNameFor(item => item.Address)</h5>
            <h5>@Html.DisplayNameFor(item => item.City), @Html.DisplayNameFor(item => item.State) @Html.DisplayNameFor(item => item.ZipCode)</h5>
        </center>
    </div>
</div>

<div class="row">
    <div class="col=mid-4">
        <center>
            <h4>Major</h4>
            <h5>Major</h5>
        </center>
    </div>
    <div class="col-mid-4">
        <center>
            <h4>Degree</h4>
            <h5>Degree</h5>
        </center>
    </div>
</div>


<p>@Html.ActionLink(HttpUtility.HtmlDecode("Home"), "Index", "StudentHome", new { area = "Students" }, new { @class = "btn btn-default" })</p>
<p>@Html.ActionLink("Edit", "Edit")</p>