@model InTurn_Model.Application

@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <h3>Are you sure you want to withdraw your application?</h3>
    <div>
        <h4>Application</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Resume)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Resume)
            </dd>
    
        
    
            <dt>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JobPosting.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JobPosting.Position)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Withdraw" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
