@model InTurn_Model.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2>Application</h2>
        <hr />
        <dl class="dl-horizontal">

            <dt>@Html.DisplayNameFor(model => model.AppStatus)</dt>
            <dd>@Html.DisplayFor(model => model.AppStatus)</dd>
            <dt>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobPosting.Position)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobPosting.Position)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resume)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resume)
            </dd>


        </dl>
    </div>
    <p>
    <p>@Html.ActionLink("Back to Dashboard", "Index", "StudentHome", new { area = "Students" }, new { @class = "btn btn-default" })</p>
    </p>
</body>
</html>
