@model IEnumerable<InTurn_Model.Application>

@{
    ViewBag.Title = "My Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "TS";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h2>@ViewBag.Title</h2>
 
    <table class="table">
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>@Html.DisplayNameFor(model=>model.JobPosting.Employer)</th>
            <th>
                @Html.DisplayNameFor(model => model.JobPosting.Position)
            </th>
            <th>@Html.DisplayNameFor(model=>model.AppStatus)</th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>@Html.DisplayFor(modelItem=>item.JobPosting.Employer.Name)</td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosting.Position)
        </td>

        <td>@Html.DisplayFor(modelItem=>item.AppStatus)</td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }) |
            @Html.ActionLink("Withdraw", "Delete", new { id = item.ApplicationID })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
