@model InTurn_Model.Faculty

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Developer = "KB";
}

<h2 align="center">@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "Multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div id="editprofile">
        <div class="editphoto">
            @*PROFILE PHOTO SECTION*@
            @if (!String.IsNullOrEmpty(Model.ImageLocation))
            {
                <img src="@Href(Model.ImageLocation)" class="profilephoto" />
            }
            else
            {
                <img src="~/Images/defaultphoto.png" class="profilephoto" />
            }@*END PROFILE PHOTO SECTION*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FacultyID)

            @*PHOTO UPLOADER CODE*@
            <div id="uploader" class="form-group" style="margin-left:0px;">
                <div class="col-lg-10">
                    <input id="FileName"
                           name="FileName"
                           type="file"
                           formenctype="multipart/form-data"
                           onchange="show(this)" />
                </div>
            </div>@*END PHOTO UPLOADER CODE*@
        </div>

    <div class="editinfo">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="editbuttons">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to Dashboard", "Index", "TeacherHome",null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
    </div>

    }

@*PHOTO UPLOADER SCRIPT*@
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filedr = new FileReader(e);
                filedr.onload = function (e) {
                    $('#faculty_image').attr('src', e.target.result);
                }
                filedr.readAsDataURL(input.files[0]);
        }
    }
</script>@*END PHOTO UPLOADER SCRIPT*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
