@*@model IEnumerable<InTurn_Model.Faculty>*@
@model InTurn_Model.Faculty

@{
    ViewBag.Title = "Your Profile";
    ViewBag.Developer = "KB";
    Layout = "~/Areas/Teachers/Views/Shared/_SubNavBar.cshtml";
}

<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
    <dd>@Html.DisplayFor(model => model.FirstName)</dd>

    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
    <dd>@Html.DisplayFor(model => model.LastName)</dd>

    <dt>@Html.DisplayNameFor(model => model.PhoneNum)</dt>
    <dd>@Html.DisplayFor(model => model.PhoneNum)</dd>

    <dt>@Html.DisplayNameFor(model => model.Location)</dt>
    <dd>@Html.DisplayFor(model => model.Location)</dd>

    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
    <dd>@Html.DisplayFor(model => model.Email)</dd>

    <dt>@Html.DisplayNameFor(model => model.FacultyID)</dt>
    <dd>@Html.DisplayFor(model => model.FacultyID)</dd>

</dl>

<p>
    @Html.ActionLink("Edit", "Edit", "Profile", new { id = Model.FacultyID }, null) |
    @Html.ActionLink("Delete Profile", "Delete", new { id = Model.FacultyID }, null) |
    @Html.ActionLink("Back to Home", "Index")
</p>
